# 변수와 함수/연산자

<strong style='color:red;font-size:1.5em'>프로그램이 하는 일</strong>
<p>
<span style="font-size:1.2em">- 정보(데이터)를 처리한다.</span>

- <b style='font-size:1.2em'>정보(데이터)</b>: **변수(Variable)와 값(Value)** 로 프로그램에 표현한다.
- <b style='font-size:1.2em'>처리한다</b>: **연산자(Operator)와 함수(Function)** 으로 프로그램에 표현한다.
    
> **표현식(Expression)**
>    - 값(Value)으로 평가되는 구문(Statement)를 말한다.
>    - **표현식의 두가지**
>        - 평가(eval)되어 새로운 값을 생성하는 모든 경우.
>            - 연산: 10 + 10
>            - 변수 호출
>            - 함수 호출
>        - **리터럴(Literal)**: 표현식 자체가 값인 경우
>             - 10, 20.56, "A"
>

# 변수 (Variable)
- 프로그램이 작업을 수행중에 사용할 **값을 저장하는 메모리 공간.**

- 하나의 변수는 하나의 값만 가질 수 있다.
    - 하나의 변수에 여러개의 값을 저장해야 하는 경우 객체나 자료구조를 이용해 값들을 모아서 저장한다.
- 변수는 이름(식별자)으로 관리된다.
    - 각 변수 메모리 공간은 주소를 가지지만 프로그램 상에서 직접 그 주소를 사용할 수 없다. 대신 그 변수를 식별할 수 있는 이름을 이용해 변수에 값을 넣거나 조회할 수 있다. 이 변수의 이름을 **식별자(Identifier)** 라고 한다.
    - 변수 이름(식별자)는 거기에 저장될 값의 의미를 알수 있도록 만든다.
    
## 변수 선언및 초기화
- 변수명 = 값
    - 변수는 반드시 선언하면서 값을 대입 해야 한다.
    - 선언시 대입할 값이 없으면 None을 대입 (`name = None`)

  
### 식별자 규칙과 변수이름 주는 관례

#### 식별자 규칙
- 식별자란 파이썬에서 사용하는 것들을 구분하기 위해 주는 이름을 말한다. 
- 사용할 수 있는 문자는 **일반 문자**(영어 알파벳 뿐 만 아니라 한글 한자 등 모든 일반 문자를 사용할 수 있다.), **숫자, 특수 문자는  _(underscore) 만** 가능.
- 숫자는 **두번째 글자** 부터 사용할 수 있다.
- **예약어(keyword, reserved word)** 는 사용할 수 없다.
- 대소문자를 구별한다.

> <b style='font-size:1.2em'>파이썬 키워드</b>
> ```python
> False      await      else       import     pass
> None       break      except     in         raise
> True       class      finally    is         return
> and        continue   for        lambda     try
> as         def        from       nonlocal   while
> assert     del        global     not        with
> async      elif       if         or         yield
> ```

In [7]:
이름 = "홍길동"
나이 = 21

In [8]:
print(이름)
print(나이)

홍길동
21

In [9]:
print(나이 + 30)

51

In [6]:
print(21)
print(21 + 30)

20
50

In [10]:
이름2 = "이순신"
나이2 = 30

In [11]:
print(이름2)
print(나이2)

이순신
30

In [13]:
3이름 = "김영수"

SyntaxError: invalid syntax (912637351.py, line 1)

In [19]:
고객_이름 = "유관순"
print(고객_이름)

유관순

In [20]:
3이름 = "김영수"
print(2)
print(3)

SyntaxError: invalid syntax (550053182.py, line 1)

#### 변수이름 관례
- 모든 글자를 소문자로 한다.
- 여러 단어를 조합할 경우 `_` 로 구분한다.
    - 이런 표기법을 **스네이크 표기법** 이라고 한다.
- 예: `name`, `age`, `customer_name`, `product_id`, `sale_price`

In [ ]:
customer_name # snake 표기법
customerName  # camel 표기법
CustomerName # pascal 표기법

### 변수이름 관례 종류
- Snake 표기법
    모든 글자를 소문자로 한다. 여러 단어를 조합할 경우 `_` 로 구분한다.
    - user_name, bank_account, save_data
- Camel 표기법
    - 소문자로 시작하고 여러 단어를 조합할 경우 각 단어의 첫글자를 대문자로 한다.
    - userName, bankAccount, saveData
- 파스칼 표기법
    - 소문자를 기본으로 하되 여러 단어를 조합할 경우 각 단어의 첫글자를 대문자로 한다.
    - UserName, BankAccount, SaveData

> **print()함수**
> - ( ) 안에 전달해주는 값(Argument)을 문자열로 변환 후 화면(Teminal)에 출력하는 함수
>     - 값에 엔터를 붙인뒤 출력한다.
> - 여러개의 값을 출력할 경우 나열해서 전달하면 된다.
> - 여러개의 값을 출력할 경우 구분자는 공백을 기본값으로 한다. 다른 구분자를 사용할 경우 `sep=구분자문자열`를 전달한다.
> - 뒤에 엔터 대신 다른 값을 붙일 경우 `end=붙일문자열` 을 전달한다.

In [21]:
print(10)

10

In [22]:
print(10, 20, 30)

10 20 30

In [24]:
print(10, 20, 30, 40, 50, "안녕", sep="-|-")

10-|-20-|-30-|-40-|-50-|-안녕

In [ ]:
# 모든 값을 문자열로 출력
# 맨뒤에 엔터를 붙여서 출력

In [29]:
print(10, end="")
print(20, end="")
print(30)

102030

In [33]:
print(10, 20, 30, 45000, sep="\t", end="\t")
print(10, 20, 30, 45000)

10	20	30	45000	10 20 30 45000

In [36]:
print(10)
print(20)
print(30)

10
20
30

## 변수 사용
- 변수를 사용하는 것은 변수에 값을 변경(대입)과 변수가 가진 값을 조회하는 두가지가 있다.

### 변수에 값 대입/할당 (assignment)
1. 변수명 = 값
    - `=`을 기준으로 왼쪽은 변수, 오른쪽은 대입할 값
    - 대입할 값으로 다음이 올 수 있다.
        - Literal 값(값 표현식)
        - 다른 변수
        - 연산식
    - 변수 초기화와 변수값 변경의 파이썬 구문은 동일하다. 변수를 처음 만들고 값을 대입하면 초기화이고 그 이후 할당하는 것들은 변경이 된다.

2. 여러 변수에 동일 한 값 대입
    - a = b = c = 30

3. 여러 변수에 다른 값 대입을 한 구문으로 처리
    - `a, b, c = 10, 20, 30`

In [37]:
a = 10
b = 10
c = 10
d = 10
print(a, b, c, d)

10 10 10 10

In [38]:
e = f = g = h = i = 20
print(e, f, g, h, i)

20 20 20 20 20

In [39]:
age1 = 20
age2 = 30
age3 = 40
print(age1, age2, age3)

20 30 40

In [40]:
age4, age5, age6 = 60, 70, 80
print(age4, age5, age6)

60 70 80

In [41]:
age1

20

In [42]:
age1 = age1 + 1

In [43]:
print(age1)

21

In [45]:
age1 += 1

In [46]:
print(age1)

22

In [47]:
age1 -= 5 # age1 = age1 - 5
print(age1)

17

4. 대입(할당) 연산자(Assignment operator)

- 변수의 값을 그 변수와 다른 값을 연산한 결과로 변경한다.
|연산자|예|동일연산|
|:-|-|-|
|=|x = 1||
|+=|x += 1|x = x + 1|	
|-=|x -= 1|x = x - 1|	
|*=|x *= 1|x = x * 1|	
|/=|x /= 1|x = x / 1|	
|%=|x %= 1|x = x % 1|	
|//=|x //= 1|x = x // 1|	
|\*\*=|x \*\*= 1|x = x \*\* 1|

### 변수값 조회
- 값을 사용해야 하는 자리에 변수명을 표현하면된다.
    - 변수명을 쓰면 그 변수가 가진 값을 조회해 사용한다.

In [51]:
print(age1)

17

In [52]:
result = age1 * 5
print(result)

85

## 변수를 메모리에서 제거

메모리에서 변수(데이터 저장공간)을 제거할 때는 `del 변수명` 명령어를 사용한다.

In [55]:
del age1
del age2
del 이름

In [56]:
print(age1)
print(age2)
print(이름)

NameError: name 'age1' is not defined

# 데이터 타입 (Data Type)

- 값들의 형태(type)에 따라 종류를 분류한 것
    - 값(Value)들은 메모리에 2진수 즉 비트가 나열된 형태로 저장된다. 
    - 같은 형태로 저장되었더라도 그 값의 Data type에 따라 다르게 해석이 된다.
        - ex) 0100 0001 => 숫자타입일 경우 65, 문자열 타입일 경우 'A' 가 된다.
- 데이터타입은 값을 표현하는 방식과 관련 연산자들을 익히도록 한다.

## None 값
- 아무 값도 없음을 나타내는 값

In [57]:
a = 10
print(a)

10

In [1]:
a = None
print(a)

None

In [2]:
a

## 숫자형(Numeric) - 정수, 실수

- 정수(int)와 실수(float) 형이 있다.
    - **정수 표현식**
        - 10, 20, -1, -20, 0
        - 16진수 표기
            - 0x 로 시작 (0xAF29)
        - 8진수 표기
            - 0O 으로 시작 (0o71)
    - **실수**
        - 20.1, 0.123411, 15.2321598
        - 지수표기법
            - $5e7$ -> $5.0\times10^7$
            - $3e-7$ -> $3\times10^{-7}$

In [64]:
# 20
# 0x20 # 16진수  0 ~ 15,0~9,A,B,C,D,E,F
0o72  # 8진수. 0 ~ 7

58

In [65]:
2000000000

20000000000

In [66]:
2e9   # 2 x 10**9

2000000000.0

In [67]:
21500000000

21500000000

In [68]:
2.15e9

2150000000.0

### 연산자
<b style='font-size:1.2em'>산술연산자</b>

|Operator(연산자)|설명|예|
|-|-|-|
|+|덧셈|x + y|
|-|뺄셈|x - y|
|*|곱셈|x * y|
|/|나눗셈|x / y|
|%|Modulus(나머지 나누기 연산자)|x % y|
|//|Floor division(몫 나누기 연산자)|x // y|
|**|제곱연산|x ** y|

In [69]:
5 * 3

15

In [70]:
10 / 3  # 나기기

3.3333333333333335

In [71]:
10 % 3 # 나머지 계산

1

In [72]:
10 // 3 # 몫 계산

3

In [74]:
10**4 # 제곱

10000

In [75]:
2 ** 7

128

## 논리형(bool)
- **참(True)과 거짓(False)을** 표현하는 데이터 타입
    - 제어문에서 많이 사용된다.
- 값 표현식
    - True, False
- bool 값이 들어가야 하는 구문에 다른 타입의 값을 작성하면 자동적으로 bool 타입으로 변환된다. (묵시적 형변환이라 한다.)
    - **0글자의 문자열, 숫자 0, None, 원소가 하나도 없는 자료구조는** False로 변환되고 그 이외는 True로 변환된다.

In [ ]:
a = True
b = False

In [78]:
# bool(10)
# bool(0)
bool(0.0)

False

In [79]:
bool("")

False

In [80]:
bool("a")

True

In [81]:
bool(" ")

True

- input(\[label\]) 함수
    - 사용자로 부터 값을 입력받을 때 사용한다.
    - 사용자의 입력을 기다렸다 사용자가 값을 입력하고 엔터를 치면 그 입력한 값을 읽어 반환한다.
    - 어떤 값을 입력받을 것인지 Label을 문자열로 전달할 수 있다.

In [85]:
age = input("나이:")

나이: 30

In [86]:
print(age)

30

### 논리형 관련 연산자
<b style='font-size:1.2em'>비교 연산자</b>
- 결과가 bool 타입
- 기준은 왼쪽의 피연산자이다.
|연산자|설명|예|
|-|-|-|
|==|같은가?|x == y|	
|!=|같지 않은가?|x != y|	
|>|x가 큰가?|x > y|
|<|x가 작은가?|x < y|	
|>=|x가 크거나 같은가?|x >= y|
|<=|x가 작거나 같은가?|x <= y|

In [87]:
"a" > "A"

True

In [88]:
"가" > "a"

True

In [3]:
"abd" > "abc"

True

In [5]:
"def" > "가나"

False

In [ ]:
# 문자열 비교
## 사전 앞에 나오는 글자들이 작은 것.
## 특수문자 < 숫자 < 영문대문자 < 영문소문자 < 한글

In [89]:
name = input("이름:")

이름: 이순신

In [90]:
print(name == "이순신")

True

In [91]:
print(name == "강감찬")

False

In [99]:
age = input('나이')

나이 2

In [100]:
age > "20"

False

<b style='font-size:1.2em'>논리 연산자</b>
- 피연산자가 bool 타입이고 결과도 bool 타입이다.
- &, |, ^ 기호를 연산자로 사용할 때는 피연산자를 ( )로 묶어 줘야 한다.
|연산자|설명|예|
|:-|-|-|
|and, &|피연산자 모두 True이면 True를 하나라도 False이면 False를 반환.|x > 5 and  x < 10|	
|or, \||피연산자 둘중 하나만 True이면 True를 둘다 False이면 False를 반환.|x > 5 or x < -4|
|^|XOR 연산. 피연산자가 다를 경우 True, 같으면 False를 반환.|(x > 5) ^ (x < 4)|
|not|단항연산자. 결과를 뒤바꾸어 반환. True는 False로 False는 True로 반환.|not(x < 5 and x < 10)|

In [9]:
num = 10
# print(3 <= num <= 20)
print(num >= 3 and num <= 20)
print((num >= 3) & (num <= 20))

True
True

In [10]:
print(not (num >= 3 and num <= 20))

False

<b style='font-size:1.2em'>조건 연산자</b>


True일때 결과값 <b style='color:purple'>if</b> 조건식 <b style='color:purple'>else</b> False일때 결과값
- 조건식이 True이면 앞의 값을 False이면 뒤의 값을 연산결과로 반환한다.

In [ ]:
# 값1 if bool표현식 else 값2

In [15]:
num = input("정수:")    # input(): 입력받은 값을 문자열로 반환.
num = int(num)  # int("문자열") -> 문자열을 정수로 변환
result = "양수" if num >= 0 else "음수"
print(result)

정수: -2

음수

In [18]:
num = int(input("정수:"))
result2 = "양수" if num > 0 else "0" if num == 0 else "음수"
print(result2)

정수: 0

0

## 문자열 (string)

- 0글자 이상의 문자열을 표현한다.
- 파이썬 3.0 부터는 유니코드 문자열을 지원하므로 영문자 뿐 아니라 모든 나라의 철자들을 기본으로 사용할 수 있다.
- 문자열 표현식
    - **작은 따옴표 또는 큰 따옴표**로 감싼다.
    - 여러줄 문자열(Multiline string)은 **3개 짜리 작은따옴표 또는 큰따옴표**로 감싼다.
        - 문자열 데이터에 `엔터`가 들어갈 경우 편리하다.
    - Escape 문자
        - 키보드에는 있지만 글자로 표현할 수 없는 문자들을 표현할 때 사용한다. `예) 엔터, Tab, Back space 등`
        - 사용하는 글자가 원래 의미에서 벗어나(escape) 다른 의미로 쓰인다고 해서 escape문자라고 한다.
        - 파이썬 뿐 아니라 모든 프로그래밍 언어에서 사용하는 표준이다.
        - 표현: `\문자`

In [ ]:
"안녕하세요"
'안녕하세요'

In [22]:
"안녕하세요.\n반갑습니다.\n감사\n합니다."

'안녕하세요.\n반갑습니다.\n감사\n합니다.'

In [21]:
a = """안녕하세요.
반갑습니다.
감사합니다."""
a

'안녕하세요.\n반갑습니다.\n감사합니다.'

In [23]:
'''안녕하세요.
반갑습니다.
감사합니다.'''

'안녕하세요.\n반갑습니다.\n감사합니다.'

      
        
<b style='font-size:1.2em'>주요 Escape 문자</b>

|Escape문자|설명|
|-|-|
|\n|엔터|
|\t|Tab|
|\b|Backspace|
|\\\\\\|\\|
|\\\"|"|
|\\\'|'|


>- r-string (raw string)
>  - 문자열 앞에 r 접두어를 붙인다. (raw) 
>  - escape 문자구분자인 \를 무시하여 escape 문자로 변환하지 않고 작성한 그대로 사용한다.
>  - ex) r"c:\test\example\a.txt"

In [24]:
"a\"b"
'a"b'

'a"b'

In [27]:
'a\'b'
"a'b"

"a'b"

In [30]:
print("c:\\python\\backup\\test")

c:\python\backup\test

In [31]:
print(r"c:\python\backup\test")

c:\python\backup\test

<b style='font-size:1.2em'>문자열 연산자</b>
- 문자열 + 문자열
    - 두 문자열을 합친다.
    - 문자열은 문자열과만 `+` 연산을 할 수 있다. 다른 타입과 합칠 경우 다른 타입을 문자열로 변환한 뒤 연산해야 한다. (str() 함수이용)

In [32]:
"이름:"+"홍길동"
"이름:홍길동"

'이름:홍길동'

In [33]:
name = input("이름:")

이름: 이순신

In [36]:
"이름: "+name

'이름: 이순신'

In [39]:
# 모든 연산은 같은 타입끼리만 가능.
age = 20  # 정수: int
"나이: "+ str(age)  # str + int (X) -> int를 str로 변환 후 계산.
# TypeError: 잘못된  Datatype의 값을 사용한 경우.

'나이: 20'

In [41]:
d = 300.23
"거리: "+str(d)+"km"  # str + float(실수) + str

'거리: 300.23km'

- 문자열 * 정수
    - 문자열을 정수번 반복해서 합친다.

In [44]:
print("정보1-10줄")
print("-"*30)
print("정보2-20줄")

정보1-10줄
------------------------------
정보2-20줄

- `in`, `not in`
    - 문자열A in 문자열B
        - 문자열A가 문자열B에 **있**으면 True, 없으면 False를 반환
    - 문자열A not in 문자열B
        - 문자열A가 문자열B에 **없**으면 True, 있으면 False를 반환

In [47]:
address = "서울시 금천구 독산동 대륭 17차"
"서울" in address
"서울" not in address

False

In [48]:
"경기" in address
"경기" not in address

True

- len(문자열)
    - 글자수를 반환한다.

In [49]:
len(address)

18

In [57]:
name = input("이름:")
"한글자 이상 입력하세요" if len(name) == 0 else "사용할 수있어요."

이름:

'한글자 이상 입력하세요'

In [51]:
len("")

0

### Indexing과 Slicing

- Indexer 연산자
    - `집합형태[식별자]`
        - 여러개의 값이 모여있는 집합 형태의 데이터에서 그 중 일부를 조회할 때 사용하는 연산자.
            - 문자열, 자료구조 등 다양한 데이터타입에 사용한다.
        - 조회하고자 하는 일부를 식별할 수 있는 `식별자`를 \[\] 안에 넣어 조회한다.
- indexing과 slicing
    - **indexing**: 집합내에서 하나의 값을 조회하는 방법
    - **slicing**: 집합내에서 여러개의 값들을 범위로 지정해 조회하는 방법

### Indexing과 Slicing을 이용해 문자열내의 일부 문자들(sub string) 조회
- **문자열 내의 각 문자들은 식별자로 index를 가진다.**
    - 양수 index
        - 문자열 앞에서 부터 붙여주는 index
        - 0부터 1씩 증가하는 값을 붙여준다.
        - **앞에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 음수 index
        - 문자열 맨 뒤에서 부터 붙여주는 index
        - -1 에서 1씩 감소하는 값을 붙여준다.
        - **뒤에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 모든 문자는 양수/음수 index 두개를 가진다.
    ![index](images/ch02_01.png)

#### Indexing
- 문자열\[index\]
    - index의 문자를 조회
    - 변경은 안된다.
        - 문자열 값 안의 일부를 변경할 수 없다.
        - 문자열처럼 내부의 값을 변경할 수 없는 데이터 타입을 불변(Immutable)이라고 한다.

In [6]:
s = "안녕하세요. 반갑습니다." # 0 ~ 12, -13 ~ -1

In [60]:
s[0], s[-13]

('안', '안')

In [62]:
s[12], s[-1]

('.', '.')

In [63]:
s[1+2]  #index는 정수 -> 연산식을 넣을 수도 있다.

'세'

In [64]:
i = 10
s[i]

'니'

#### Slicing
- 기본구문: **문자열 \[ 시작 index : 종료 index : 간격\]**
    - 시작 index ~ (종료 index – 1)
    - 간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
- **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    - str_value \[ : 5\] => 0 ~ 4 까지 조회
- **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    - str_value\[2 : \] => 2번 index 에서 끝까지
- **명시적으로 간격을 줄 경우**
    - str_value\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    - str_value\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
- **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    - str_value\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    - str_value\[: : -1\]  => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

In [66]:
s = "0123456789"
# slicing - 범위. [시작index : 끝 index: 간격] (시작 ~ 끝-1)
s[3:9:1 ]

'345678'

In [67]:
s[3:9:2]  # 3, 3+2, 3+2+2,

'357'

In [68]:
s[3:9] # 간격생략 - default: 1

'345678'

In [69]:
s[5:]  #  간격 생략, end index 생략(끝까지)
# 5에서  끝까지.

'56789'

In [70]:
s[3::3] # 시작: 3, end: 생략(끝까지), 간격:3

'369'

In [71]:
s[:5]   # 시작 index 생략(default: 처음부터(index 0))

'01234'

In [72]:
s[:]

'0123456789'

In [74]:
s[:5]

'01234'

In [76]:
s[4:]

'456789'

In [78]:
s[7:3:-1]

'7654'

In [79]:
s[::-1] # 역순 정렬

'9876543210'

### Format string (형식문자열) 생성
- 문자열에 문장 형식/구성/Layout을  미리 만들어 놓고 값은 나중에 대입하는 방식으로 문자열을 만드는 것
    - 여러 문자열이 같은 Layer에 특정 값들만 바뀌는 경우 사용한다.
        - 이름 : XXX 나이 : XXX 성별 : XXX  
        - 기본 형식은 같은데 XXX에 들어갈 값들은 그때 그때 다를 경우 사용
1. format() 함수 이용
    - 문자열을 만들 때 값을 나중에 넣을 위치 { } 로 표시하고 format() 메소드에서 { }에 들어갈 값을 순서대로 넣는다.

> 값을 넣어줄 자리를 지정하는 것을 **placeholder** 라고 한다.

In [10]:
name = "이순신"
age = 20
address = "서울시 금천구"

info = "이름:"+name+"\n나이:"+ str(age) +"\n주소:"+ address
print(info)

이름:이순신
나이:20
주소:서울시 금천구

In [ ]:
i = "이름: xxxxx, 나이: yyyyyy, 주소: zzzzzz"
i.xxxxx = name
i.yyyyy = age
i.zzzzz = address

In [11]:
# format method 이용
layout = "이름: {}\n나이: {}\n주소: {}" # 변수의 값을 넣을 자리를 {} 표시.
info = layout.format(name, age, address) # {} 넣을 값을 순서대로 나열.
print(info)

이름: 이순신
나이: 20
주소: 서울시 금천구

In [13]:
print(layout.format("홍길동", 33, "인천"))

이름: 홍길동
나이: 33
주소: 인천

In [18]:
layout2 = "내 이름은 {} 입니다. 나이는 {:.3f} 입니다. 내 친구 이름은 {}로 나와 같습니다."
print(layout2.format(name, age, name))

내 이름은 이순신 입니다. 나이는 20.000 입니다. 내 친구 이름은 이순신로 나와 같습니다.

In [7]:
layout3 = "내 이름은 {0} 입니다. 나이는 {1} 입니다. 내 친구 이름은 {0}로 나와 같습니다."
# format() 메소드에 전달되는 값의 순번을 { } 에 설정. 
# {0}-0번째 입력값을 여기에 넣어라.
layout3.format(name, age)

'내 이름은 이순신 입니다. 나이는 20 입니다. 내 친구 이름은 이순신로 나와 같습니다.'

In [10]:
layout4 = "내 이름은 {name} 입니다. 나이는 {age} 입니다. 내 친구 이름은 {name}로 나와 같습니다."
layout4.format(name="홍길동", age=40)

'내 이름은 홍길동 입니다. 나이는 40 입니다. 내 친구 이름은 홍길동로 나와 같습니다.'

2. % value 사용
    - 타입을 지정하는 % value를 이용해 값을 넣어줄 자리를 지정한다.
    - format 문자열과 넣어줄 값은 % 로 구분한다.
    
|% value|설명|
|-|-|
|%s|string|
|%d|int-정수|
|%f|float-실수|
|%%|%|

실수는 소수점자릿수를 6자리로 맞추기 때문에 정밀도를 표현하는 표현식을 지정하는 것이 좋다. `ex) %.2f`

In [17]:
info = "이름: %s, 나이: %d, 키: %.2f" % (name, age, 173.21)
print(info)

이름: 이순신, 나이: 20, 키: 173.21

In [19]:
info = "이름: %s, 나이: %d, 키: %.2f" % (name, "서른살", 173.21)

TypeError: %d format: a real number is required, not str

3. f-string (format string)
    - 파이썬 3.6에서 추가된 형식
    - 문자열 앞에 접두어 `f`를 사용한다.
    - 값을 넣을 자리에 {변수명} 을 이용해 변수가 가진 값을 문자열에 추가한다.

In [14]:
name = "강감찬"
age = 22
info = f"이름: {name}, 나이: {age + 10}"
print(info)

이름: 강감찬, 나이: 32

In [23]:
print(10, 20)
len("aaaaa")

10 20

5

In [24]:
"aAbbb".upper()

'AABBB'

In [ ]:
# 함수: 우리가 만드는 연산자. # 함수(처리할대상값, ....)
# 메소드: 특정 데이터타입에만 적용하는 함수. # 처리할대상값.메소드()

### string 주요 메소드

|메소드|설명|
|-|-|
|split(구분문자열)|구분 문자열을 기준으로 나눈다.|
|strip(), lstrip(), rstrip()|앞뒤(strip) 앞(lstrip) 뒤(rstrip) 공백 제거|
|replace('바꿀 문자열', '새문자열')|바꿀 문자열을 새문자열로 변경|
|count('세려는 문자열')|string안에 세려는 문자열이 몇개 있는지 반환|
|index(문자열), find(문자열)|문자열이 몇번째 index에 있는지 반환|
|upper(), lower()|모든 글자를 대문자(upper), 소문자(lower)로 변환|
|capitalize()|문자열의 첫글자를 대문자로 변환|
|islower(), isupper()|문자열이 모두 소문자(islower), 대문자(isupper)이면 True 아니면 False를 반환|
|startswith("문자열"), endswith("문자열")|문자열로 시작하는지/끝나는지 여부 반환|

In [25]:
names = "이순신,유관순,강감찬,홍길동"
name_list = names.split(",")
name_list

['이순신', '유관순', '강감찬', '홍길동']

In [27]:
name_list[1]

'유관순'

In [30]:
# 공백거거
print("   aaaaaaaaa   ".strip())
print("   aaaaaaaaa   ".lstrip())
print("   aaaaaaaaa   ".rstrip())

aaaaaaaaa
aaaaaaaaa
   aaaaaaaaa

In [31]:
a = input("이름:").strip()

이름: 홍길동

In [32]:
# 문자열 일부를 변경 (변경된 새로운 문자열을 반환.)
s = "abcdefg"
s2 = s.replace("a", "가")
s3 = s.replace("de", "11000")

In [33]:
s2

'가bcdefg'

In [34]:
s3

'abc11000fg'

In [35]:
s

'abcdefg'

In [39]:
# 특정 문자열의 개수를 세기
s = "aaaaaabbbbbcccccddddefdfaadfdvcabcaad4eaa1aa"
print("전체글자수:", len(s))
print("s에 a가 몇개인지?", s.count("a"))
print("s에 aaaa가 몇개인지?", s.count("aaaa"))
print("s에 안녕하세요.가 몇개인지?", s.count("안녕하세요"))

전체글자수: 44
s에 a가 몇개인지? 15
s에 aaaa가 몇개인지? 1
s에 안녕하세요.가 몇개인지? 0

In [41]:
## 조회
### 특정 문자열이 몇번 index에 있는지 조회
address = "서울시 금천구 독산동 대륭 17차"
idx = address.index("독산동")  # "독산동" 의 시작 index 반환
idx2 = address.find("독산동")
print(idx)
print(idx2)

8
8

In [42]:
address.index('종로') # 없는 것 찾으면 Error(Exception) 발생

ValueError: substring not found

In [43]:
address.find("종로") # 없는 것 찾으면 -1을 반환.

-1

In [45]:
"있음" if address.find("독산") != -1 else "없음"

'있음'

In [47]:
## 특정 문자열로 시작/끝 나는지 확인.
url = "www.naver.co.kr"
# url이 www로 시작하는지?
url.startswith("www")
url.startswith("http") # http로 시작?

False

In [48]:
url.endswith("kr")

True

In [49]:
url.endswith("com")

False

In [50]:
## 대소문자 관련
s = "my name is jack."
# 모두 대문자로 변경
s2 = s.upper()
print(s2)

MY NAME IS JACK.

In [52]:
# 모두 소문자로 변경
s3 = s2.lower()
print(s3)

my name is jack.

In [53]:
# 첫글자만 대문자로 변경.
print(s.capitalize())

My name is jack.

In [57]:
s

'my name is jack.'

In [59]:
s.isupper()  # 문자열이 모두 대문자인지?
s.islower()  # 문자열이 모두 소문자인지?

True

In [61]:
s = "I am a boy"
# 모두 대/소문자일 때만 True
s.islower() 
s.isupper()

False

In [63]:
name = input("이름:")
name.lower() == "jack"

이름: JACK

True

## 데이터 타입 변환 (형변환) 함수
- 값의 데이터타입을 확인하는 함수
    - type(값)
- 정수로 변환
    - int(value)
- 실수로 변환
    - float(value)
- 문자열로 변환
    - str(value)
- 논리형으로 변환
    - bool(value)

In [68]:
type(name) # str: 문자열
type(30)   # int: 정수
type(4.23) # float: 실수
type(True) # bool: 논리

bool

In [70]:
type(30) == int
type(30) == float

False

In [71]:
a = "30"
b = "40"
a + b

'3040'

In [73]:
a1 = int("30") # => 30
b1 = int("40")
a1 + b1

70

In [75]:
num1 = input("num1:")
num1 = float(num1)
num2 = input("num2:")
num2 = float(num2)
num1 + num2

num1: 30
num2: 40.55

70.55

In [ ]:
# int()/float()으로 문자열을 변경할 때는 각각 정수/실수 형태의 문자열만가능

In [81]:
int("abc")
# ValueError: 잘못된 값을 함수에 전달할 경우 발생.

ValueError: invalid literal for int() with base 10: 'abc'

In [79]:
float("abc")

ValueError: could not convert string to float: 'abc'

## 동적타입 언어
- 변수가 가질 수 있는 값의 타입을 고정하지 않는다. 그래서 같은 변수에 서로 다른 타입의 값을 저장할 수 있다.
- 자유도는 높지만 프로그램의 규모가 커지면 오류의 원인이 될 수 있다. 
- 파이썬은 동적 타입 언어이다.

> - **정적 타입 언어**
>     - 변수를 선언할 때 그 변수에 저장할 수 있는 값의 타입을 고정시킨다.

In [83]:
age = 30

age = "서른한살"

In [ ]:
int age = 30
age = "서른살"

In [87]:
print(True)
print(False)

True
False

In [ ]:
True
False

In [88]:
# 타입힌트
# 변수명:타입 = 값
age:int = 20

In [89]:
age = "서른살"

In [90]:
age:"정수를 할당해 주세요." = 30

# TODO

In [94]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
jumin_num = "901211-1027213"
print(jumin_num[:6])

l = jumin_num.split("-")
print(l[0])

901211
901211

In [95]:
#2. "안녕하세요" 를 10번 출력하시오.
print("안녕하세요"*10)

안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요

In [98]:
print("안녕하세요\n"*50)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [99]:
#3. 다음 문자열의 글자수를 출력하시오.
str_value = "akdlclkdkdlelql39du7마구0ㅌ"
print(len(str_value))

24

In [100]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print("제품명:"+name+", 가격:"+str(price)+", 제조사:"+maker)

제품명:TV, 가격:300000, 제조사:LG

In [101]:
print("제품명: {}, 가격: {}원, 제조사: {}".format(name, price, maker))

제품명: TV, 가격: 300000원, 제조사: LG

In [102]:
print("제품명: %s, 가격: %d원, 제조사: %s" % (name, price, maker))

제품명: TV, 가격: 300000원, 제조사: LG

In [103]:
print(f"제품명: {name}, 가격: {price}원, 제조사: {maker}")

제품명: TV, 가격: 300000원, 제조사: LG

In [104]:
#5.
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
"수박" in fruits

False

In [105]:
"있음" if "수박" in fruits else "없음"

'없음'

In [107]:
fruits.split() # 공백을 기준으로 나눈다.

['사과', '복숭아', '귤', '배']

In [110]:
#6.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.
str_value.count('a')

9

In [113]:
#7. 두개의 정수를 입력받아서 곱한 결과를 출력하는 코드를 작성하세요.
num1 = int(input("정수1:"))
num2 = int(input("정수2:"))
print(num1 * num2)
print(f"{num1} x {num2} = {num1 * num2}")

정수1: 10
정수2: 5

50
10 x 5 = 50