In [ ]:
# 인사말 관련 모듈.
__version__ = 1.0

def print_greeting(name):
    print(f"{name}님 안녕하세요.")

def print_welcome(name):
    print(f"{name}님 환영합니다.")

def get_greeting(name):
    return f"{name}님 안녕하세요."

class Hello:

    def __init__(self, name):
        self.name = name

    def kor_greet(self):
        return f"{name}님 안녕하세요."

    def eng_greet(self):
         return f"Hello {name}~!"

# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [1]:
l1 = [10, 20, 30, 10, 20, 50, 100, 200, -20]
l1

[10, 20, 30, 10, 20, 50, 100, 200, -20]

In [2]:
# 모으는 값의 타입은 달라도 된다.
l2 = [1000, "가나다라마" , True, 302.1, False]
l2

[1000, '가나다라마', True, 302.1, False]

In [6]:
print(l2)

[1000, '가나다라마', True, 302.1, False]

In [3]:
type(l1)

list

In [4]:
# 원소 개수
len(l1)

9

In [5]:
len(l2)

5

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

In [10]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8]
print(l[0], l[5])
print(l[-1], l[-3])

0 5
8 6

In [11]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
l[0] = 10000  # 변경(수정)
print(l)

[10000, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# s = "aaaa"
# s[0] = "가"

In [16]:
l[-1] = 800000
print(l)

[10000, 1, 2, 3, 4, 5, 6, 7, 800000]

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [17]:
l

[10000, 1, 2, 3, 4, 5, 6, 7, 800000]

In [18]:
# 전체 조회 - 리스트를 복사한 새로운 리스트를 반환.
l[:]

[10000, 1, 2, 3, 4, 5, 6, 7, 800000]

In [19]:
l[3:] # 3 ~

[3, 4, 5, 6, 7, 800000]

In [20]:
l[:-3]

[10000, 1, 2, 3, 4, 5]

In [21]:
l[1:7:2]

[1, 3, 5]

In [23]:
l[::-1]
l[::-2]

[800000, 6, 4, 2, 10000]

In [27]:
# 변경
print(l)
l[1:5] = 10, 20, 30, 40 #slicing한 원소 개수와 대입하는 값 개수가 같아야 한다.

[10000, 1, 2, 3, 4, 5, 6, 7, 800000]

In [28]:
print(l)

[10000, 10, 20, 30, 40, 5, 6, 7, 800000]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [29]:
a = [1, 2, 3]
b = ['가', '나']
c = a + b
print(a)
print(b)
print(c)

[1, 2, 3]
['가', '나']
[1, 2, 3, '가', '나']

In [31]:
d = a * 3
print(a)
print(d)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
2 in c
2 not in c

False

In [36]:
20 in c
20 not in c

True

In [38]:
1 in c and 3 in c

True

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [39]:
l = [
    [1, 2, 3,],
    [10, 20, 30],
    [100, 200, 300]
]

In [40]:
l[0]

[1, 2, 3]

In [41]:
l[0][1]

2

In [44]:
l[2][2]

300

In [45]:
l[2][2] = 5000
l

[[1, 2, 3], [10, 20, 30], [100, 200, 5000]]

## 리스트 대입
1. 리스트안의 원소들을 개별 변수에 할당하는 표현식.
1. 변수의 개수와 리스트 원소의 개수가 같아야 한다.

> 대부분의 자료구조가 이런 형태의 대입을 지원한다.

In [46]:
# control + / 주석 자동완성
# a = 10
# b = 20
# c = 30
a, b, c = [10, 20, 30]
print(a, b, c)

10 20 30

In [49]:
l = [1, 2, 3, 4]
n1, n2, n3, n4 = l
print(n1, n2, n3, n4)

1 2 3 4

In [52]:
# l = [1, 2, 3]
# n1, n2, n3, n4 = l

In [53]:
a, b, c  = 1, 2, 3

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [56]:
l = [ 1, 2, 3]
print(l)
l.append(10)  # list(의 마지막 index)에 값을 추가 
print(l)

[1, 2, 3]
[1, 2, 3, 10]

In [57]:
# 처리 결과들을 저장할 리스트
results = []
# 처리1
results.append("첫번째 결과")
# 처리2
results.append("두번째 결과")
print(results)

['첫번째 결과', '두번째 결과']

In [59]:
l.extend([100, 200, 300, 400])  #다른 리스트의 원소들을 대상리스트에 추가.
print(l)

[1, 2, 3, 10, 100, 200, 300, 400]

In [60]:
l1 = [1, 2]
l2 = [10, 20]
l1 + l2

[1, 2, 10, 20]

In [62]:
# 정렬 - 오름차순(default), 내림차순
l = [10, 5, -30, 1000, 200]
l.sort() # 오름차순

In [63]:
l

[-30, 5, 10, 200, 1000]

In [65]:
l.sort(reverse=True) # 내림차순
l

[1000, 200, 10, 5, -30]

In [66]:
# sorted(모든타입자료구조) 함수 - 자료구조를 정렬한 결과를 리스트로 반환.
l = [10, 5, -30, 1000, 200]
result = sorted(l)
print(result)

[-30, 5, 10, 200, 1000]

In [67]:
l

[10, 5, -30, 1000, 200]

In [69]:
# 삭제
## 같은 값을 찾아서 삭제
l.remove(-30)

In [70]:
l

[10, 5, 1000, 200]

In [72]:
l.remove(-30)  #  없는 값을 삭제할 경우 ValueError 발생.

ValueError: list.remove(x): x not in list

In [74]:
# index로 삭제
l.pop(1) # 삭제하면서 그 index의 값을 반환.

5

In [76]:
l

[10, 1000, 200]

In [78]:
a = l.pop(0)
print(a)
l

1000

[200]

In [79]:
l = [10, 2, 30, 40, 500]
l.pop() # index를 안주면 마지막 값을 삭제
print(l)

[10, 2, 30, 40]

In [80]:
# 모두 삭제
l.clear()

In [81]:
l

[]

In [82]:
len(l)

0

In [83]:
# 빈 리스트(자료구조)은 bool 로 변환시 False
bool(l)

False

In [84]:
bool([1,2])

True

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다.

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [89]:
t1 = (1, 2, 3, 4, 5, 6)
type(t1)

tuple

In [91]:
print(t1)
t1

(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [96]:
t2 = 10, 20, 30, 40
print(t2)

(10, 20, 30, 40)

In [97]:
t2 = 10, "안녕", True, 3.22
t2

(10, '안녕', True, 3.22)

In [99]:
# 원소가 1개인 튜플
t3 = (100,)  #값 뒤에 , 를 붙인다.
print(t3)
type(t3)

(100,)

tuple

In [101]:
t4 = "가",
type(t4)

tuple

In [ ]:
## 튜플대입
a, b, c = 10, 20, 30

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

In [110]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
t2 = t[5], t[8], t[-1]
t2

(5, 8, 9)

In [111]:
t[0] = 100 # 값 변경을 못한다.

TypeError: 'tuple' object does not support item assignment

In [112]:
t[1:7:2]

(1, 3, 5)

In [113]:
t[1:7]

(1, 2, 3, 4, 5, 6)

In [114]:
t[:7]

(0, 1, 2, 3, 4, 5, 6)

In [115]:
t[5:]

(5, 6, 7, 8, 9)

In [116]:
t[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [118]:
t1 = 1, 2, 3
t2 = 100, 200, 300, 400
t3 = t1 + t2
print(t3)
print(t1)
print(t2)

(1, 2, 3, 100, 200, 300, 400)
(1, 2, 3)
(100, 200, 300, 400)

In [119]:
t1 * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [122]:
300 in t3
10000 in t3

False

In [123]:
300 not in t3
10000 not in t3

True

In [124]:
len(t3)

7

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [130]:
t = 100,200, 300, 400, 500, 400, 400
t.index(400, 4)

5

In [131]:
t.count(400)

3

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [8]:
d = {
    "이름":"홍길동",
    "나이":30,
    "별명":["도사", "의적",],
    "주소":{"시":"서울시", "구":"금천구", "동":"독산동"},
}

In [ ]:
d['키'] = 160

In [5]:
d["주소"]["구"]

'금천구'

In [7]:
d["별명"][0]

'도사'

In [3]:
d["이름"]

'홍길동'

In [132]:
l = ["홍길동", 30, ["도사", "의적"]]
l[0], l[2]

('홍길동', ['도사', '의적'])

In [136]:
d2 = {
    1:10, 2:20, 3:100, 4:70
}
d2[1], d2[4]

(10, 70)

In [137]:
l2 = [10, 20, 100, 70]
num = 1
l2[num-1]

10

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [139]:
d["나이"]

30

In [141]:
d["별명"]

['도사', '의적']

In [143]:
d["별명"][1]

'의적'

In [145]:
d['주소'] #없는 키로 조회->KeyError발생

KeyError: '주소'

In [148]:
# 있는 key에 대입 -> 변경(수정)
d['나이'] = 34
d

{'이름': '홍길동', '나이': 34, '별명': ['도사', '의적']}

In [150]:
# 없는 key로 대입 -> 추가.
d['전화번호'] = "010-5555-2233"

In [151]:
d

{'이름': '홍길동', '나이': 34, '별명': ['도사', '의적'], '전화번호': '010-5555-2233'}

In [152]:
d = {
    "a":10,
    "a":30,
    "a":40,
    "a":50,
}
d

{'a': 50}

In [154]:
# 딕셔너리 생성 함수
d3 = dict(이름="이순신", age=30, address="서울") # key=value, key=value   key: 변수
d3

{'이름': '이순신', 'age': 30, 'address': '서울'}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [157]:
len(d3)

3

In [158]:
d3

{'이름': '이순신', 'age': 30, 'address': '서울'}

In [161]:
"이름" in d3  
"이름" not in d3

False

In [162]:
"이순신" in d3
"이순신"  not in d3

True

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [163]:
d3

{'이름': '이순신', 'age': 30, 'address': '서울'}

In [166]:
d3.get("이름")

'이순신'

In [168]:
a = d3.get("전화번호") # 없는 key 로 조회하면 기본값을 반환. (default기본값: None)
print(a)

None

In [171]:
d3.get("전화번호", "없음")

'없음-ㅁㅁㅁㅁ'

In [173]:
# item 삭제
d3.pop("address") #value를 반환하면서 삭제

'서울'

In [174]:
d3

{'이름': '이순신', 'age': 30}

In [175]:
del d3['age']
d3

{'이름': '이순신'}

In [176]:
d = {'a':10, 'b':30, 'c':100, 'd':45}
d

{'a': 10, 'b': 30, 'c': 100, 'd': 45}

In [178]:
d.values() # 값만 리스트에 모아서 반환

dict_values([10, 30, 100, 45])

In [180]:
d.keys()   # key만 리스트에 모아서 반환

dict_keys(['a', 'b', 'c', 'd'])

In [181]:
d.items()  # item - key:value -> 튜플로 만들어서 반환

dict_items([('a', 10), ('b', 30), ('c', 100), ('d', 45)])

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [182]:
s = {1, 2, 3, 4, 5}
s

{1, 2, 3, 4, 5}

In [183]:
s = {1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 2, 2, 1, 2, 3, 2, 1, 2, 3}
s

{1, 2, 3}

In [184]:
s = {'가', 10, '가', 10, 2.3, True, 2.3}
s

{10, 2.3, True, '가'}

In [185]:
type(s)

set

In [186]:
s[0] # 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [187]:
# 반복문을 이용해서 하나씩 모두 조회하는 것만 가능.
for v in s:
    print(v)

True
가
10
2.3

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [188]:
len(s)

4

In [190]:
10 in s
False in s

False

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [192]:
s.add(100)
s

{10, 100, 2.3, True, '가'}

In [193]:
s.add(100)
s.add(100)
s.add(100)
s

{10, 100, 2.3, True, '가'}

In [194]:
s.update([1, 2, 3, 4, 5, 10])  
# True가 내부적으로 1로 저장됨. 1은 추가가 안됨. False는 0으로 저장됨.
s

{10, 100, 2, 2.3, 3, 4, 5, True, '가'}

In [195]:
s.remove(10) # 동일한 값을 찾아서 삭제
s

{100, 2, 2.3, 3, 4, 5, True, '가'}

In [196]:
s.remove("dkloajodflk")

KeyError: 'dkloajodflk'

In [197]:
s.pop()

True

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [198]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s3 = s1 | s2
s3

{1, 2, 3, 4, 5, 6, 7}

In [200]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [201]:
s4 = s1 & s2 
s4

{4, 5}

In [202]:
s1.intersection(s2)

{4, 5}

In [203]:
s5 = s1 - s2
s5

{1, 2, 3}

In [204]:
s1.difference(s2)

{1, 2, 3}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [10]:
f1, f2 = "귤,사과".split(",")
print(f1)
print(f2)

귤
사과

In [208]:
a, b = [10, '가aaa']
print(a, b)

10 가aaa

In [210]:
a, b, c = (1, 10, 100)
a, b, c = 100, 200, 300
print(a, b, c)

100 200 300

In [211]:
a, b, c = {'a', 'b', 'c'}
print(a, b, c)

b c a

In [212]:
a, b, c = {'name':"홍길동", "age":20, "address":"서울"}
print(a, b, c) # key 값들이 변수에 대입.

name age address

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [218]:
l = [1, 1, 2, 2, 3, 2, 2, 1, 3, 3]
# l의 중복값들을 제거
s = set(l)
l2 = list(s)
t = tuple(s)
print(s)
print(l2)
print(t)

{1, 2, 3}
[1, 2, 3]
(1, 2, 3)

In [219]:
list("가나다라마")

['가', '나', '다', '라', '마']

In [220]:
set("가나다라가나다라")

{'가', '나', '다', '라'}

In [221]:
tuple("안녕하세요.abcde")

('안', '녕', '하', '세', '요', '.', 'a', 'b', 'c', 'd', 'e')

# TODO

In [222]:
# "control + shift + -"  : 셀 나기기
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.
len(jumsu)

10

In [224]:
#(1)  7번의 점수를 출력하세요
jumsu[6]

80

In [225]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [226]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [228]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [229]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [230]:
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [234]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [235]:
jumsu[-2] = 50
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 50, 85]

In [237]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
list(set(jumsu))

[100, 70, 80, 50, 85, 90]

In [239]:
sorted(set(jumsu), reverse=True)

[100, 90, 85, 80, 70, 50]

In [240]:
#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]
f = fruits[:]  # 리스트 복사
f.append("사과")
f.append('귤')
print(f)

['복숭아', '수박', '딸기', '사과', '귤']

In [242]:
f2 = fruits[:]
f2.extend(['사과', '귤'])
print(f2)

['복숭아', '수박', '딸기', '사과', '귤']

In [244]:
fruits = fruits + ['사과', '귤']

['복숭아', '수박', '딸기', '사과', '귤']

In [245]:
fruits

['복숭아', '수박', '딸기']

In [247]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.
# f.pop(0)
f.remove("복숭아")

In [248]:
f

['수박', '딸기', '사과', '귤']

In [250]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다.
info = {
    "이름":"이순신",
    "나이":30,
    "email주소":"lee@a.com",
    # "취미":"독서,게임"
    "취미":["독서", "게임", "영화감상"],
    # "결혼여부":"기혼"
    "결혼여부":True
}
info2 = dict(이름="강감찬", 나이=40, 취미=['독서', '게임'])
print(info)
print(info2)

{'이름': '이순신', '나이': 30, 'email주소': 'lee@a.com', '취미': ['독서', '게임', '영화감상'], '결혼여부': True}
{'이름': '강감찬', '나이': 40, '취미': ['독서', '게임']}

In [251]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
info['email주소']

'lee@a.com'

In [253]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
hobby = info['취미']
hobby[1]

'게임'

In [254]:
info['취미'][1]

'게임'

In [257]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
info['키'] = 186.32
info['몸무게'] = 78.44
info

{'이름': '이순신',
 '나이': 30,
 'email주소': 'lee@a.com',
 '취미': ['독서', '게임', '영화감상'],
 '결혼여부': True,
 '키': 186.32,
 '몸무게': 78.44}

In [261]:
#(14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
info['email주소'] = 'lee@naver.com'
info

{'이름': '이순신',
 '나이': 30,
 'email주소': 'lee@naver.com',
 '취미': ['독서', '게임', '영화감상'],
 '결혼여부': True,
 '키': 186.32,
 '몸무게': 78.44}

In [263]:
#(15) 위 딕셔너리에서 나이를 제거하세요.
info.pop('나이')
info

KeyError: '나이'

In [266]:
del info["결혼여부"]

In [268]:
info

{'이름': '이순신',
 'email주소': 'lee@naver.com',
 '취미': ['독서', '게임', '영화감상'],
 '키': 186.32,
 '몸무게': 78.44}

In [269]:
l = [1, 2002, 3203, 101, 20, 30, 1, 2, 32, 32, 23,3 ,43,5,65,65,56 ,56,546,56,65,56]
print(l)

[1, 2002, 3203, 101, 20, 30, 1, 2, 32, 32, 23, 3, 43, 5, 65, 65, 56, 56, 546, 56, 65, 56]

In [271]:
print(info)

{'이름': '이순신', 'email주소': 'lee@naver.com', '취미': ['독서', '게임', '영화감상'], '키': 186.32, '몸무게': 78.44}

In [272]:
from pprint import pprint

pprint(info)

{'email주소': 'lee@naver.com',
 '몸무게': 78.44,
 '이름': '이순신',
 '취미': ['독서', '게임', '영화감상'],
 '키': 186.32}

In [275]:
pprint(l)

[1,
 2002,
 3203,
 101,
 20,
 30,
 1,
 2,
 32,
 32,
 23,
 3,
 43,
 5,
 65,
 65,
 56,
 56,
 546,
 56,
 65,
 56]

In [277]:
info

{'이름': '이순신',
 'email주소': 'lee@naver.com',
 '취미': ['독서', '게임', '영화감상'],
 '키': 186.32,
 '몸무게': 78.44}