# 제어문(Control flow statement)
기본적으로 프로그램은 순차구조를 가진다. 즉 작성한 순서대로 실행이 된다.  
이런 실행흐름을 다른 순서로 제어하기 위한 구문을 만드는 문법이 제어문이다.  
제어문은 **조건문** 과 **반복문** 두가지 문법이 있다.
- **조건문**
    - if 문
- **반복문**
    - while 문
    - for in 문

# 조건문/분기문 (conditional statement)
- 프로그램이 명령문들을 실행하는 도중 특정 순서에서 **조건에 따라 흐름의 나눠져야 하는 경우 사용한다**
- 파이썬은 조건문으로 **if문**이 있다.

![조건문](images/ch03_01.png)

<center>입력 받은 a 의 값이 0인지 여부에 따라 두가지 흐름으로 분기된다.</center>

## 구문

- 조건이 True일 경우만 특정 구문들을 실행 하는 조건문.
```python
if 조건:    # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다.
    명령문1  # 조건이 True이면 실행할 구문들을 코드블럭에 기술한다.
    명령문2  # 코드 블록은 들여쓰기를 이용해 묶어준다. 보통 공백 4칸으로 들여쓰기를 한다.
    ...
```
> ### 파이썬의 코드블록(code block)  
> 코드블록이란 **여러 명령문들을 묶어놓은 것을** 말한다. 코드블록으로 묶이면 실행시 같이 다 실행되고 실행이 안되면 같이 다 실행이 안된다.    
> 파이썬에서는 코드블록을 작성할 때 **들여쓰기를 이용해 묶어준다.**   
> 같은 칸만큼 들여쓰기를 한 명령문들이 같은 블록으로 묶인다.
> 들여쓰기는 관례적으로 **공백 4칸을** 사용한다. 

> ### pass 키워드(예약어)
> - 빈 구현부를 만들때 사용
>     - 제어문, 함수의 body 코드블럭은 비울 수 없다. 반드시 명령문을 한개 이상 작성해야한다. 
>     - 작성할 내용이 없을 경우 사용하는 키워드로 `pass`를 사용한다. 
>     - `...` 을 대신 사용할 수 있다.

In [2]:
## 1번 작업
num = int(input("정수:"))
## 2번 작업 (O, X)
if num == 0:
    print("영입니다.")
    print("Zero입니다.")
## 3번 작업
print("종료")

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

- **조건이 True일때 실행할 구문과 False일때 실행하는 조건문.**
```python
if 조건:     
    명령문1_1 # 조건이 True일 경우 실행할 구문들
    명령문1_2
    ...
else:
    명령문2_1 # 조건이 False일 경우 실행할 구문들
    명령문2_2
    ...
```

In [4]:
## 1번 작업
num = int(input("정수:"))
## 2번 작업
if num == 0:
    # 2-1
    print("영 입니다.")
    print("Zero 입니다.")
else: # if조건이 False일 때 실행할 구문.
    # 2-2
    print("영이 아닙니다.")
    print("Not Zero")
## 3번 작업
print('종료')

정수: 10101

영이 아닙니다.
Not Zero
종료

In [6]:
age = 10
if age < 20:
    print('미성년입니다.')
else:
    print("성년입니다.")

미성년입니다.

In [8]:
user_id = input("ID:")
# id는 5글자 이상.
if len(user_id) >= 5:
    print("가입처리")
else:
    print("가입할 수없는 ID입니다.")
    print("5글자 이상 입력하세요")

ID: aaaaaaaaa

가입처리

- **조건이 여러 개인 조건문.**
```python
if 조건1:
    명령문1_1  # 조건1이 True일 경우 실행할 코드블록. 
    명령문1_2
    ...
elif 조건2:    # 다음 조건으로 앞의 조건들이 모드 False일 경우 비교한다.
    명령문2_1  # 조건2가 True일 경우 실행할 코드블록.
    명령문2_2
    ...
elif 조건3 :
    명령문3_1
    명령문3_2
    ...
else:         # 위의 모든 조건이 False일 경우 실행하는 코드블록. 생략 가능하다.
    명령문4
```

In [12]:
# 1번
num = int(input("정수:"))

# 2번
if num > 0:
    print(f"{num}은 양수입니다.")
elif num == 0:
    print("0입니다.")
# elif num < 0:
else:
    print(f"{num}은 음수입니다.")

# 3번
print("종료")

정수: -222

-222은 음수입니다.
종료

In [15]:
# 1
num = int(input("정수:"))
# 2
if num > 0:
    print(f"{num}은 양수입니다.")
# 3
if num == 0:
    print("0입니다.")
# 4
if num < 0:
    print(f"{num}은 음수입니다.")

정수: 0

0입니다.

In [20]:
num = int(input("정수:"))
if num >= 100_000:
    print("아주 큰 값")
elif num >= 10_000:
    print("큰값")
elif num >= 1_000:
    print("보통 값")
elif num >= 10:
    print("작은 값")

정수: -10

In [21]:
num = 10
if num >= 0:print("양수")
else:print("음수")

양수

In [28]:
if num > 0:
    print('aaa')
elif num == 0:
    print('bbb')
elif num < 0:
    pass

aaa

In [ ]:
if True:
    print("aaaa")
    if True:
        print("1111")
        if True:
            print("zzzz")
            while False:
                print(11)

# 반복문 (Loop statement)

특정 구문들을 반복해서 실행할 때 사용한다. 동일한 코드를 여러번 반복하거나 값이 일정하게 변하는 코드를 반복할 경우 사용한다.  
단순 반복을 처리하는 **while문**과 iterable객체가 제공하는 값들을 반복 조회하는 **for in문** 두가지 문법이 있다.

![반복문](images/ch03_02.png)
<center>count의 값이 limit의 값보다 크거나 같을때 까지 count의 값을 1증가 후 출력하는 구문을 반복한다. </center>

## while문
- 조건이 True인 동안 구문을 반복해서 실행한다.

### 구문
```python
while 조건:       # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다
    반복할 구문1  # 반복할 구문을 코드블록으로 작성한다.  
    반복할 구문2
    ...
```

In [ ]:
# 조건식에 사용할 변수들 선언.
count = 0
limit = 10  
while count < limit: #  조건식
    print(count)
    count = count + 1  # count += 1  #  조건식의 변수를 변경.
print('종료')

In [3]:
count = 0
while count < 10:
    print(f"{count+1}. 안녕하세요")
    count += 1

1. 안녕하세요
2. 안녕하세요
3. 안녕하세요
4. 안녕하세요
5. 안녕하세요
6. 안녕하세요
7. 안녕하세요
8. 안녕하세요
9. 안녕하세요
10. 안녕하세요

In [ ]:
# while True:
#     반복할 구문

## for  in 문
- Iterable 객체를 순환조회하는 구문
    - for in문은 Iterable 타입의 객체가 가지고 있는 값들을 하나씩 처리하는 구문을 작성할 때 사용한다.

> - **Iterable**
>    - 반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다. 
>    - 대표적으로 List, Tuple, Dictionary, Set, 문자열 등이 있다.

### 구문
```python
for 변수 in Iterable: # for in 선언후 : 으로 선언부와 구현부를 나눈다.
    반복구문          # Iterable이 반복시 제공하는 값을 가지는 "변수"를 이용해 값들을 처리하는 구문을 코드블록으로 작성한다.
    반복구문
```

In [5]:
l = [1, 2, 3, 4, 5] # iterable (값을 모아서 가지고 있는 타입)
it = iter(l)        # iterator (Iterable이 가진 값을 제공하는 역할)

In [6]:
next(it)

1

In [7]:
next(it)

2

In [8]:
next(it)

3

In [9]:
next(it)

4

In [10]:
next(it)

5

In [11]:
next(it)

StopIteration:

In [23]:
l = {1, 2, 3, 4, 5, 6, 7, 8}
it = iter(l)
while True:
    try:
        v = next(it)
        print(v)
    except:
        break

1
2
3
4
5
6
7
8

In [21]:
l = {1, 2, 3, 4, 5, 6, 7, 8}
l = "abc"
l = [10, 20, 30]
for v in l:
    print(v)

10
20
30

In [32]:
l = [1, 2, 3, 4, 5]
# 모든 원소들을 하나씩 출력
for v in l:
    print(v)

1
2
3
4
5

In [34]:
# 모든 원소들에 10을 곱한 값을 출력
for v in l:
    a = v * 10
    print(a)

10
20
30
40
50

In [35]:
for v in (10, 20, 30):
    print(v)

10
20
30

In [36]:
for v in {100, 200, 300}:
    print(v)

200
100
300

In [37]:
for key in {"a":1, "b":2}:
    print(key)

a
b

In [38]:
for char in "가나다라마바사abcde":
    print(char)

가
나
다
라
마
바
사
a
b
c
d
e

In [40]:
l = [10, 2, -23, 3, 100, 232,12093, -223,-1232, 101]
# 짝수만 출력
for v in l:
    if v % 2 == 0:
        print(v)

10
2
100
232
-1232

In [41]:
# 짝수만 모아서 변수에 저장.
result = []
for v in l:
    if v % 2 == 0:
        result.append(v)

In [42]:
print(result)

[10, 2, 100, 232, -1232]

In [43]:
l2 = [
    (1, 2, 3), 
    (10, 20, 30),
    (100, 200, 300)
]

In [47]:
# l2의 원소들을 모두 각각 출력
for t in l2:
    # print(type(t))
    # print(t)
    for v in t:
        print(v)
    print("--------------------")

1
2
3
--------------------
10
20
30
--------------------
100
200
300
--------------------

In [49]:
d = {
    "a": 1, 
    "b":2,
    "c":3
}
for key in d:
    print(key, d[key])

a 1
b 2
c 3

In [52]:
for v in d.values():
    print(v)

1
2
3

## continue와 break를 이용한 반복문 제어
- **continue**
    - 실행 블록에서 continue가 실행되면 현재 반복을 중단하고 다음 반복을 진행한다.
    - 특정 조건에서 처리를 멈추고 다음 처리를 반복할 때 사용한다.
- **break**
    - 반복문 실행을 중단한다.
    - 특정 조건에서 반복문을 중간에 중지할때 사용한다.
- continue와 break는 특정 조건에서 실행되야 하는 경우가 대부분이므로 if문 안에 작성한다.

In [26]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
# 3의 배수가 아닌것
for v in l:
    if v % 3 == 0: # 출력하지 말아야 하는 조건
        continue  # 아래부분을 실행하지 말고 다음 반복을 계속해라.
    print(v)

1
2
4
5
7
8
10
11

In [28]:
# 값이 7이면 반복을 종료
for v in l:
    if v == 7: # 멈추는 조건
        break # 반복문을 멈춘다.
    print(v)

1
2
3
4
5
6

In [59]:
import random
random.randint(0, 10)  # 0 ~ 10 사이의 Random 정수 값을 생성.

2

In [66]:
# -100 ~ 100 사이의 랜덤 정수를 생성.
# 양수와 음수를 따로 저장
# 0일 경우에는 종료
pos_result = [] # 양수저장할 리스트
neg_result = [] # 음수저장할 리스트
while True:
    num = random.randint(-100, 100)
    if num > 0:
        pos_result.append(num)
    elif num <0:
        neg_result.append(num)
    else:
        break
        
print('종료')

종료

In [67]:
print(pos_result)

[72, 61, 57, 91, 58, 64, 86, 22, 37, 52, 68, 99, 87, 36, 79, 12, 61, 87, 95, 35, 1, 7, 9, 29, 77, 4, 37, 56, 12, 66, 22, 85, 46, 13, 64, 17, 7, 5, 2, 4, 48, 44, 10, 59, 69, 59, 97, 95, 91, 26, 74, 97, 3, 19, 53, 18, 98, 36, 19, 52, 25, 60, 29, 1, 48, 29, 7, 7, 78, 1, 3, 87, 7, 48, 28, 47, 2, 49, 47, 35, 2, 33, 38, 70, 33, 77, 32, 82, 32, 41, 88, 42, 32, 46, 12, 23, 15, 32, 4, 30, 22, 43, 98, 7, 97, 37, 81, 18, 59, 14, 4, 56, 39, 12, 19, 13, 29, 70, 74, 89, 41, 35, 9, 66, 68, 92, 98, 49, 84, 52, 66, 36, 100, 82, 54, 54, 64, 57, 23]

In [63]:
print(neg_result)

[-1, -85, -57, -69, -22, -29, -82, -87, -95, -62, -12, -55, -56, -81, -91, -2, -56, -63, -64, -56, -41, -80, -59, -91, -79, -22, -20, -71, -62, -7, -54, -56, -97, -12, -18, -78, -42, -23, -98, -63, -89, -63, -75, -46, -74, -99, -41, -13, -52, -9, -92, -84, -11, -85, -83, -35, -89, -8, -39, -92, -70, -62, -73, -75, -94, -47, -13, -12, -98, -73, -61, -35, -89, -82, -60, -7, -36, -62, -69, -88, -67, -86, -67, -88, -100, -86, -42, -14, -5, -44, -10, -34, -68, -82, -85, -54, -62, -78, -80, -62, -49, -28]

In [73]:
# -100 ~ 100 사이의 랜덤 정수를 생성.
# 양수만 저장
# 0일 경우에는 종료
result = []
while True:
    num = random.randint(-100, 100)
    if num == 0:
        break
    elif num < 0: #음수
        # print(num)
        continue
    result.append(num)
print("종료")

종료

In [72]:
print(result)

[50, 42, 16, 83, 89, 78, 92, 16, 15, 49, 41, 97, 33, 56, 51, 100, 62, 2, 65, 70, 61, 86, 97, 93, 42, 73, 49, 66, 13, 81, 26, 13, 30, 62, 75, 91, 58, 32, 53, 14, 100, 39, 19, 21, 11, 91, 62, 14, 45, 96, 97, 78, 16, 99, 88, 50, 48, 40, 31, 2, 55, 85, 73, 47, 77, 53, 99, 10, 64, 81, 18, 10, 60, 66, 66, 89, 46, 76, 13, 85, 49, 55, 93, 16, 6, 29, 3, 35, 85, 56, 42, 42, 70, 45, 18, 4, 51, 82, 20, 26, 47, 54, 3, 1, 71, 25, 69, 84, 50, 89, 91, 86, 63, 87, 87, 66, 88]

## for in 문 연관 내장 함수

### range()
- 일정한 간격의 연속된 정수를 제공하는 반복가능 객체 생성한다.
- 구문
    - `range([시작값], 멈춤값, [증감값])`
        - 시작값, 멈춤값, 증감값 모두 정수만 가능하다.
        - 시작값 > 멈춤값 이고 증감값이 음수이면 내림차순으로 값을 제공한다.
        1. 전달값이 **1개: 멈춤값**. 
            - 0 ~ (멈춤값-1)까지 1씩 증가하는 정수를 제공
        2. 전달값이 **2개: 시작값, 멈춤값**. 
            - 시작값 ~ (멈춤값-1) 까지 1씩 증가하는 정수 제공
        3. 전달값이 **3개: 시작값, 멈춤값, 증감값(간격)**. 
            - 시작값 ~ (멈춤값-1)까지 증감값만큼 증가하는 정수를 제공.

In [80]:
for v in range(10):
    print(v)

0
1
2
3
4
5
6
7
8
9

In [82]:
for v in range(10, 20, 2): # 시작 ~ 끝-1, 간격: 2
    print(v)

10
12
14
16
18

In [83]:
for v in range(5, 10): # 시작 ~ 끝-1, 간격생략:default:1 
    print(v)

5
6
7
8
9

In [84]:
for v in range(5): # 0 ~ 끝-1, 간격: 1
    print(v)

0
1
2
3
4

In [85]:
for v in range(-10, 10):
    print(v, end=", ")

-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [87]:
# 5번 반복
for _ in range(5): # 변수명으로 `_` 사용: 이 변수는 사용하지 않는다. 
    #구문상 어쩔 수없이 넣어야 되지만 사용하지는 않을 경우 변수명을 `_`로 지정(관례)
    print("반복할 구문")

반복할 구문
반복할 구문
반복할 구문
반복할 구문
반복할 구문

In [89]:
# for v in range(1.2, 3.5, 0.1):  # 정수만 제공.
#     print(v)

In [90]:
# range(): iterable
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
l = list(range(10, 100, 5))
l = tuple(range(10, 20, 2))
l

(10, 12, 14, 16, 18)

In [5]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

## enumerate()

- 구문
    - `enumerate(Iterable,  [, start=정수])`
        - 현재 몇번째 값을 제공하는 지(현재 몇번째 반복인지)를 나타내는 **index**와 제공하는 **원소**를 tuple로 묶어서 반환
        - Iterable
            - 값을 제공할 Iterable객체
        - start: 정수
            - index 시작 값. 생략하면 0부터 시작한다.

In [6]:
l = list('abcde')
for v in enumerate(l): # 튜플 (index, 값)
    print(f"{v}, {v[0]}. {v[1]}")

(0, 'a'), 0. a
(1, 'b'), 1. b
(2, 'c'), 2. c
(3, 'd'), 3. d
(4, 'e'), 4. e

In [101]:
l = list('abcde')
for v in enumerate(l, start=1): # 튜플 (index, 값)
    print(f"{v[0]}. {v[1]}", v)

1. a (1, 'a')
2. b (2, 'b')
3. c (3, 'c')
4. d (4, 'd')
5. e (5, 'e')

In [106]:
for index, value in enumerate(l): # 튜플대입
    if index == 3:
        continue
    print(index, value)

0 a
1 b
2 c
4 e

In [109]:
# 0 ~ 1,000,000 누적합계
# 결과를 10만번당 한번씩 출력
result = 0 # 합계결과를 저장할 변수
for idx, v in enumerate(range(1, 1_000_001)):
    result += v
    if idx % 100000 == 0:
        print(f"{idx}번째 결과: {result}")
print("최종결과:", format(result, ","))

0번째 결과: 1
100000번째 결과: 5000150001
200000번째 결과: 20000300001
300000번째 결과: 45000450001
400000번째 결과: 80000600001
500000번째 결과: 125000750001
600000번째 결과: 180000900001
700000번째 결과: 245001050001
800000번째 결과: 320001200001
900000번째 결과: 405001350001
최종결과: 500,000,500,000

## zip()
- 여러 개의 Iterable 객체를 받아 반복시 같은 index의 값끼리 튜플로 묶어 반환한다.
- 구문
    - `zip(Iterable1, Iterable2, Iterable3 [, .......])`
        - Iterable 2개이상.전달한다.
- 각 Iterable이 제공하는 원소의 개수가가 다를 경우 가장 적은 것의 개수에 맞춰 반복한다.

In [8]:
# 세명의 name, age, address를 따로 저장. 같은 index가 같은 사람의 정보.
names = ["이순신", "유관순", "강감찬"]
ages =  [30, 40, 50]
address = ["서울", "인천", "부산", "광주", "대전"]

# 각 사람의 정보를 묶어서 출력
print(names[0], ages[0], address[0])
print(names[1], ages[1], address[1])
print(names[2], ages[2], address[2])

이순신 30 서울
유관순 40 인천
강감찬 50 부산

In [9]:
for v in zip(names, ages, address):
    print(v)

('이순신', 30, '서울')
('유관순', 40, '인천')
('강감찬', 50, '부산')

In [10]:
for name, age, addr in zip(names, ages, address):
    print(f"이름: {name}, 나이: {age}, 주소: {addr}")

이름: 이순신, 나이: 30, 주소: 서울
이름: 유관순, 나이: 40, 주소: 인천
이름: 강감찬, 나이: 50, 주소: 부산

In [119]:
for v  in enumerate(zip(names, ages, address)):
    print(v[0], v[1][0], v[1][1], v[1][2])

0 이순신 30 서울
1 유관순 40 인천
2 강감찬 50 부산

In [121]:
a1, a2 = (0, ('a', 'b' , 'c'))
print(a1)
print(a2)

0
('a', 'b', 'c')

In [122]:
a1, (a2, a3, a4) = (0, ('a', 'b' , 'c'))
print(a1, a2, a3, a4)

0 a b c

In [123]:
for idx, (name, age, addr)  in enumerate(zip(names, ages, address)):
    print(f"{idx+1}. {name}, {age}, {addr}")

1. 이순신, 30, 서울
2. 유관순, 40, 인천
3. 강감찬, 50, 부산

# 컴프리헨션(Comprehension)

- 기존 Iterable의 원소들을 이용해서 새로운 자료구조(List, Dictionary, Set)를 생성하는 구문.
    - 기존 Iterable의 **원소들을 처리한 결과**나  **특정 조건이 True인 값들을** 새로운 자료구조에 넣을때 사용.
    - 결과를 넣을 새로운 자료구조 타입에 따라 다음 세가지가 있다.
        - 리스트 컴프리헨션
        - 딕셔너리  컴프리헨션
        - 셋  컴프리헨션
- **튜플 컴프리헨션**은 tuple() 함수를 이용해서 만든다.
- **딕셔너리 컴프리헨션**과 **셋 컴프리헨션**은 파이썬 3 에 새로 추가되었다.
-   컴프리헨션 문법은 iterable 을 타입을 넣는 곳에서는 다 적용할 수있다.

In [130]:
l1 = list(range(1, 10))
result = []
result2 = set()
for v in l1:
    result.append(v * 10)
    result2.add(v * 10)
print(result)
print(result2)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [131]:
c_result = [v*10 for v in l1] # 리스트 컴프리헨션
c_result

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [133]:
s_result = {v * 10 for v in l1}
s_result

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [135]:
result3 = {}
for idx, value in enumerate(l1):
    result3[idx] = value * 10
result3

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50, 5: 60, 6: 70, 7: 80, 8: 90}

In [139]:
d_result = {"key"+str(idx):value*10  for idx, value in enumerate(l1)}
d_result = {value:value*10 for value in l1}
d_result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

In [141]:
list(v*100 for v in l1)
set(v*100 for v in l1)

{100, 200, 300, 400, 500, 600, 700, 800, 900}

In [142]:
tuple(v*100 for v in l1) # 컴프리헨션으로 튜플을 생성할 경우 tuple() 함수이용.

(100, 200, 300, 400, 500, 600, 700, 800, 900)

In [143]:
# (v*100 for v in l1)

In [12]:
result = [] # 양수만 저장.
for v in range(-10, 11):
    if v > 0:
        result.append(v)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
[v for v in range(-10, 11) if v > 0] # if가 True인 원소들만 처리.
{v for v in range(-10, 11) if v > 0}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [149]:
# 양수에 100을 곱한 뒤에 저장.
result3 = []
for v in range(-10, 10):
    if v > 0:  # 자료구조에서 원하는 조건의 값들을 추출 -> Filtering
        result3.append(v * 10) # 원소들을 일괄처리 -> Mapping
print(result3)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [150]:
[v * 10 for v in range(-10, 10) if v > 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
for a in lst1:
    for b in a:
        for c in b:
            if c > 0:
                l.append(c-10)

In [ ]:
[c:c-10  for a in lst1 for b in a for c in b if c > 0]

In [154]:
l = [
    [1, 2, 3], 
    [10, 20, 30]
]
# 3의 배수만  찾아서 +5를 한다.
result = []
for v in l:
    for value in v:
        if value % 3 == 0:
            result.append(value + 5)
result

[8, 35]

In [156]:
[float(value) + 5 for v in l for value in v if value % 3 == 0]

[8.0, 35.0]

# TODO

In [163]:
# control + shift + -
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하  :  F학점
jumsu = 100 
if jumsu < 0 or jumsu > 100:
    print(f"{jumsu}는 잘못된 점수입니다. 0 ~ 100 사이의 점수를 입력하세요.")
elif jumsu >= 91:
    print(f"{jumsu}: A학점")
elif jumsu >= 81:
    print(f"{jumsu}: B학점")
elif jumsu >= 71:
    print(f"{jumsu}: C학점")
elif jumsu >=61:
    print(f"{jumsu}: D학점")
else:
    print(f"{jumsu}: F학점")

100: A학점

In [165]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 
#     5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
user_id = input("ID:")
if len(user_id) >= 5:
    print("사용할 수있습니다.")
else:
    print("사용할 수 없는 ID입니다.")

ID: aaaaaaaaa

사용할 수있습니다.

In [174]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 
#   인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city = input("도시이름:")
if city == "서울":
    print("특별시")
elif city in ["인천", "부산","광주","대구","대전","울산"]:
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다.")

도시이름: 전주

특별시나 광역시가 아닙니다.

In [179]:
#(4-5)
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
jumsu_sum = 0
for v in jumsu:
    jumsu_sum = jumsu_sum + v   # jumsu_sum += v
print("총점:", jumsu_sum)
jumsu_avg = jumsu_sum / len(jumsu)
print("평균:", jumsu_avg)

총점: 890
평균: 89.0

In [182]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. 
#    (ex: 0-pass, 1-pass, 2-fail)
for idx, v in enumerate(jumsu):
    if v >= jumsu_avg:
        print(f"{idx} - pass ({v})")
    else:
        print(f"{idx} - fail ({v})")

0 - pass (100)
1 - pass (90)
2 - pass (100)
3 - fail (80)
4 - fail (70)
5 - pass (100)
6 - fail (80)
7 - pass (90)
8 - pass (95)
9 - fail (85)

In [184]:
for idx, v in enumerate(jumsu):
    # print("pass" if v >= jumsu_avg else "fail")
    print(f"{idx} - {"pass" if v >= jumsu_avg else "fail"} ({v})")

0 - pass (100)
1 - pass (90)
2 - pass (100)
3 - fail (80)
4 - fail (70)
5 - pass (100)
6 - fail (80)
7 - pass (90)
8 - pass (95)
9 - fail (85)

In [187]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력하시오.
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_value = jumsu[0] #  최대값을 저장할 변수
for v in jumsu:
    if max_value < v:
        max_value = v
print("최대값:", max_value)

최대값: 55

In [190]:
sorted(jumsu)[-1]

95

In [192]:
max(jumsu), min(jumsu)

(95, 55)

In [193]:
# 합계
sum(jumsu)

785

In [196]:
#(7) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "토끼", "뱀", "돼지", "호랑이"]
for name in str_list:
    if name not in ["쥐", "토끼"]:
        print(name, end=", ")

소, 호랑이, 용, 뱀, 돼지, 호랑이,

In [200]:
#(8) 사용자로부터 정수를 입력받아 그 정수 단의 구구단을 출력하시오. 
# ex) 
# 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
# ..
# 2 x 9 = 18
dan = int(input("단을 입력하시오: "))
# print(dan)
for i in range(1, 10):
    print(f"{dan} X {i} = {dan * i}")

단을 입력하시오:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [204]:
#컴프리헨션
#(9) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
[v * 2 for v in lst]
list(v * 2 for v in lst)
tuple(v * 2 for v in lst)
set(v * 2 for v in lst)

{2, 10, 20, 60, 70, 140, 240, 1400}

In [207]:
(v * 2 for v in lst)

In [206]:
#(10) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
print([(v, v*10) for v in lst])

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [209]:
#(11) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[v for v in lst2 if v % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [213]:
#(12) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_names=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[file_name for file_name in file_names if file_name.endswith(".exe")]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [214]:
#(13) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_names=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[file_name for file_name in file_names if len(file_name) >= 10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [215]:
# 파일명:글자수
{file_name : len(file_name) for file_name in file_names}

{'mystroy.txt': 11,
 'a.exe': 5,
 'jupyter.bat': 11,
 'function.exe': 12,
 'b.exe': 5,
 'cat.jpg': 7,
 'dog.png': 7,
 'run.exe': 7,
 'i.dll': 5}

In [217]:
#(14) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
[v for v in str_list if v.islower()]

['c', 'g', 'h', 'k']

In [223]:
"aaaa".upper(), "AAAA".lower(), "aaaa".islower(), "AAAA".isupper()

('AAAA', 'aaaa', True, False)